/* Navbar.css (or your preferred naming convention) */
.navbar1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffff;
    color: #000000; 
    border: 1px solid #fff1f1;
    border-radius: 10px;
  }

  .left-section{
    display: flex;
  }

  .left-section span:nth-child(1){
    color: #1A9FB2;
    font-size: 25px;
    cursor: pointer;
  }
  
  .left-section span {
    margin-right: 20px;
    font-size: 20px;
    font-weight: 400;
  }
  .left-section h6{
    font-size: 24px;
    font-weight: 700;
  }
  .left-section img{
    width: 30px;
    height: 30px;
    margin-left: 10px;
  }
  
  .right-section{
    display: inline-flex;
    align-items: center;
  }

  .right-section img{
    width: 40px;
    /* height: 40px; */
    border-radius: 50px;
    margin-top: 17px;
    cursor: pointer;
  }
  .right-section .icons {
    font-size: 34px;
    margin-left: 20px;
    cursor: pointer;
    color: #1A9FB2;
    transition: background-color 0.3s ease-in-out;
  }
  
  .right-section .icon:hover {
    background-color: #555; /* Change the hover background color as needed */
  }
  
  /* Optional: Add media queries for responsive design */
  @media(max-width: 868px) {
    .navbar1 {
      display:flex;
      justify-content: space-between;
    }
  }
  @media(max-width: 568px) {
    .navbar1 {
      display: block;
      flex-direction: column;
    }

  }
  
  /* Add this rule to your CSS */
