.intakecontainer {
  margin-top: 20px;
}

.intakecontent121 h6 {
  color: #1E1E1ECC;
  font-weight: 500;
  font-size: 24px;
  text-align: start;
  color: #000000;
}

/* SmallCard.css */
.intakecardsVital {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
  gap: 20px;

}

.small-card2121 {
  width: 110px;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFFFFF;
  margin-top: 1.5rem;
  box-shadow: 1px 1px 5px 6px rgb(0, 0, 0, 0.2);
}

.card-icon-image {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.small-card2121 p {
  text-align: center;
  margin: 5px;
  flex-grow: 1;
  color: black;
  font-weight: 500;
  font-size: 14px;
}

.small-card2121 h4 {
  text-align: center;
  margin: 5px;
  flex-grow: 1;
  color: #0c5c75;
  font-weight: bold;
  font-size: 18px;
}


.small-card2121 a {
  color: #0C5C75;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 25px;
  text-decoration: none;
  /* Removes underline */
  color: inherit;
  /* Retains the default text color */
}

/* Responsive styles for screens 868px and below */
@media only screen and (max-width: 868px) {
  .intakecards {
    flex-wrap: wrap;
    /* Allow flex items to wrap to the next line */
    justify-content: center;
    /* Center items when they wrap */
  }

  .small-card2121 {
    width: 200px;
    /* Two cards in one row */
    margin: 10px 10px;
    /* Add some space between cards */
  }
}

/* Responsive styles for screens 568px and below */
@media only screen and (max-width: 568px) {
  .small-card2121 {
    width: 40%;
    /* One card in one row */
  }
}