/* ResidentForm.css */

.form-container {
  width: 80%;
  margin: 20px auto;
}

.form-container p:nth-child(1) {
  font-size: 16px;
  font-weight: 500;
}
.form-container h5 {
  font-weight: 600;
  font-size: 24px;
}
.form-section {
  margin-bottom: 20px;
}

.form-section h2 {
  color: #000000;
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 20px;
}

.form-field {
  margin-top: 1.5rem;
}

.form-field1 {
  margin-bottom: 15px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  /* margin-left: 5px; */
  text-align: start;
}

input,
textarea,
select {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-actions {
  text-align: center;
  margin-top: 20px;
}

.initalsubmit {
  width: 453.85px;
  height: 45.87px;
  border-radius: 5px;
  background-color: #1a9fb2;
  color: #fff;
  border: 1px solid #1a9fb2;
  margin-top: 20px;
  font-weight: 400;
  font-size: 20px;
}

.backbutton {
  margin-left: 20px;
  margin-top: 20px;
}

/* Overall container styling */
.checkbox-container {
  width: 100%;
  margin: 0 auto;
  margin-top: 1.5rem;
}

.checkoptions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Styling for each checkbox item */
.checkboxitem {
  display: flex;
  align-items: center;
  align-content: center;
  width: calc(20% - 10px);
  margin-bottom: 10px;
  gap:10px
}

/* Styling for checkbox input */
input[type="checkbox"] {
  margin-right: 5px;
  width: auto;
}

/* Styling for checkbox span */
.checkboxitem span {
  font-size: 14px;
  color: #00000099;
  word-wrap: break-word;
}

.checkbox-container1 {
  width: 100%;
  /* margin: 0 auto; */
}

.checkoptions1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.checkboxitem1 {
  display: flex;
  align-items: center;
  /* width: calc(20% - 10px); */
  margin-bottom: 10px;
  margin-bottom: 20px;
}

.checkboxitem12 {
  display: flex;
  align-items: flex-start;
 
  
  /* width: calc(20% - 10px); */
  margin-bottom: 10px;
  margin-bottom: 20px;
}

.checkboxitem12 input {
  margin-top: 7px;
}

.checkboxitem1 span {
  font-size: 16px;
  color: #000000;
  word-wrap: break-word;
  font-weight: 400;
}

input[type="checkbox"] {
  margin-right: 5px;
  width: auto;
  transform: scale(1.5); /* Adjust the scale factor as needed */
}

.yeschechbox {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-bottom: 20px;
}

.yeschechbox23 {
  display: flex;
  justify-content: space-between;
  width: 20%;
  padding-left: 10%;
  margin-bottom: 20px;
}

.yeschechbox235 {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin-bottom: 20px;
}

.yeschechbox span {
  font-size: 14px;
  color: #00000099;
  word-wrap: break-word;
}

.yeschechbox1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.yeschechbox1 span {
  font-size: 14px;
  color: #00000099;
  word-wrap: break-word;
}

.yeschechbox2 {
  display: flex;
  grid-gap: 10px; 
  flex-wrap: wrap;
}


.yeschechbox2 div {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

/* formsheading */
.formsheading {
  margin-top: 20px;
  margin-bottom: 20px;
}
.formsheading h6 {
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  margin-bottom: 20px;
}

.formsheading p {
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  .checkboxitem {
    /* width: calc(50% - 10px); */
  }
}

@media screen and (max-width: 480px) {
  .checkboxitem {
    width: 100%;
  }
  .yeschechbox {
    width: 100%;
  }
  .yeschechbox label {
    font-size: 14px;
  }
  .yeschechbox1 {
    display: block;
    justify-content: space-between;
    width: 100%;
  }
  .yeschechbox2 {
    display: block;
    justify-content: space-between;
    width: 100%;
  }
}

@media (max-width: 900px) {
}
@media (max-width: 568px) {
  .form-container {
    width: 90%;
  }
  .check1 {
  }

  .initalsubmit {
    width: 200px;
  }
}

.file-upload-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(26, 159, 178, 0.1);
  padding: 10px;
  border-radius: 8px;
  width: 354px;
  height: 120px;
  box-shadow: rgba(26, 159, 178, 0.1);
}

.upload-button1 {
  background: transparent;
  color: #0c5c75;
  padding: 8px 16px;
  margin-right: 10px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #0c5c75;
  width: 150px;
  height: 40px;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 12px;
}
.upload-button {
  width: 150px;
  height: 40px;
  background-color: #0c5c75;
  color: #fff;
  padding: 8px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
}

.upload-icon {
  width: 100%;
}

/* NeedsInterventionsList.css */

.needs-interventions-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin: 20px 0;
}

.needs-interventions-table {
  border-collapse: collapse;
  width: 90%; /* Adjust the width as needed */
}

.needs-interventions-column {
  width: 50%; /* Equal width for both columns */
  border: 1px solid black;
}

.needs-interventions-column1 {
  width: 100%; /* Equal width for both columns */
  /* border: 1px solid black; */
}
.needs-interventions-column1 table{
  width: 100%; /* Equal width for both columns */
  border: 1px solid black;
}

.needs-interventions-column1 table tr{
  border: 1px solid black;
}
.needs-interventions-column1 table tr td{
  padding: 10px;
  border: 1px solid black;
}

.needs-interventions-column1 table thead th{
  border: 1px solid black;
  padding: 10px;
  width: 50%;
}

.needs-interventions-container2 {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin: 20px 0;
  width: 100%;
}

needs-interventions-column2{
  width: 100%;
}

.needs-interventions-column2 table{
  width: 100%; /* Equal width for both columns */
  border: 1px solid black;
}

.needs-interventions-column2 table tr{
  border: 1px solid black;
}
.needs-interventions-column2 table tr td{
  padding: 10px;
  border: 1px solid black;
}

.needs-interventions-column2 table thead th{
  border: 1px solid black;
  padding: 10px;
 
}


.needs-interventions-column h2 {
  color: #000000;
  font-weight: 500;
  font-size: 20px;
  text-align: center; /* Center the heading */
  margin: 10px 0; /* Add some space above and below the heading */
}

.needs-interventions-column ul {
  list-style: none;
  padding: 0;
}

.needs-interventions-column li {
  /* margin-bottom: 10px; */
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 8px; /* Add padding for better readability */
}
.checkbox-labels {
  margin-left: 10px;
  display: flex;
}

.checkbox-labels label {
  margin-right: 10px;
}

/* safetyPlan */
.safetyplandiv {
  align-items: center;
  background-color: rgba(26, 159, 178, 0.1);
  padding: 10px;
  border-radius: 8px;
  width: 1083px;
  height: auto;
  box-shadow: rgba(26, 159, 178, 0.1);
  padding: 30px;
}

.safetybutton {
  border: none;
  width: 163px;
  height: 50px;
  color: #ffffff;
  border: 1px solid #1a9fb2;
  background-color: #1a9fb2;
  border-radius: 5px;
  margin-top: 20px;
}

.safetybutton1 {
  background: transparent;
  color: #0c5c75;
  width: 354px;
  height: 58px;
  border: 2px solid #0c5c75;
  border-radius: 5px;
  margin-bottom: 20px;
}

.bodydiv {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.bodyiamge {
  border: 2px solid #1a9fb2;
  border-radius: 5px;
  width: 220px;
  height: 231px;
  align-items: center;
  display: flex;
  padding-left: 10px;
}

@media (max-width: 900px) {
  .safetyplandiv {
    width: 100%;
  }
}
@media (max-width: 568px) {
  .bodydiv {
    display: block;
    margin-bottom: 20px;
  }
  .bodyiamge {
    margin-bottom: 20px;
  }
  .safetyplandiv {
    width: 100%;
  }
}

.genderdiv {
  display: flex;
  gap: 10px;
}
.genderbox {
  align-items: center;
  display: flex;
  padding-left: 10px;
  width: 200px;
  height: 72px;
  border: 2px solid #1e1e1e99;
  border-radius: 5px;
  transition: border-color 0.3s;
}
.custom-radio {
  width: 30px;
  height: 30px;
  padding: 0;
  margin-right: 10px;
  /* appearance: none; */
  border: 1px solid #1a9fb2;
  border-radius: 50%;
  cursor: pointer;
}

.custom-radio:checked + label {
  color: #1a9fb2;
}

.genderbox label {
  font-weight: 500;
  font-size: 16px;
  color: #1e1e1e99;
  cursor: pointer;
}

.custom-radio:checked + .genderbox {
  border-color: #1a9fb2;
}

.residentdiv p {
  font-weight: 500;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #1e1e1eb2;
}
.residentdiv h6 {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
  color: #000000;
}

.residentdiv li {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  margin-bottom: 20px;
}

.Residentrights p {
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}

.booking-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: #eee;
}

.booking-section {
  width: 1082px;
  height: 817px;
  background-color: #ffffff;
  border: 2px solid #ffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Same box shadow as .booking-container */
}
.booking-section h2 {
  font-weight: 500;
  font-size: 22px;
  color: #000000;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (max-width: 908px) {
  .booking-section {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 568px) {
  .booking-section {
    width: 100%;
    height: auto;
  }
}


/* /text box width */

.inLine_box_style{
  display: flex;
  height: 10px;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
}

#input-text_value1{
  width: 200px;
  font-size: auto;
}

#input-text_value2{
  width: 200px;
}

.checkBox-aligment{
  display: flex;
  gap: 10px;
  align-items: center;
}


.checkbox654{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.chechbox12-correct{
  display: block;
  justify-content: space-between;
  width: 49%;
  margin-top: 1.5rem;
}

.chechbox12-aligment4{
  display: block;
  justify-content: space-between;
  width: 75%;
  margin-top: 1.5rem;
}

.chechbox12-aligment411{
  display: block;
  justify-content: space-between;
  width: 75%;
  margin-top: 1.5rem;
}

.yesNoAligment{
  /* margin-left: 20%; */
  width: 47%;
  display: flex;
  gap: 30px
}

.employment-Aligmant{
  width: 50%;
  display: flex;
  gap: 50px
}

.riskAndSafityAligment{
  display: flex;
  width: 40%;
  gap:2rem
}

.employment-Aligmant-location{
  width: 90%;
  display: flex;
  gap: 50px
}

.increasingClass{
  display: flex;
  gap:2rem
}

.increasingClassInternal{
  width: 50%;
  display: flex;
  gap:50px;
  justify-content: space-between;
}

.safetyRiskLast{
  width: 50%;
  display: flex;
  gap: 2rem;
}

.yeschechbox_select-4 {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-bottom: 20px;
}

.Significant-losses{
  display: flex;
  gap:10px;
  align-items: Center;
  justify-content: space-around;
  /* width: 20%; */
}

.checkboxitemBlock{
  display: flex;
  gap:"10px"
}


/* nursing assaestmet form */
.parent-div-screening{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.yeschechbox-screening {
  display: flex;
  grid-gap: 10px; 
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.screening-child{
  display: flex;
  gap: 10px;
}

.screening-child div{
  display: flex;
  gap: 10px;
  align-items: center;
}

/* reivew of systems */

.label-review{
  margin-top: 1.5rem;
  font-size: 1.2rem;
}

.yeschechbox-review{
  display: grid;
  grid-gap: 0.5rem;
  column-gap: auto;
  margin-top: 1.5rem;
  margin-right: 10px;
  grid-template-columns: repeat(5, 20%);
}

.yeschechbox-review div{
  display: flex;
  gap: 10px;
  align-items: center;
}

input[type="checkbox"] {
  margin-right: 5px;
  margin-bottom: 5px;
  transform: scale(1.5);
  width: 14px;
  height: 10px;
}

.yeschechbox-skin-check{
  display: flex;
  margin-top: 1rem;
  gap : 10%;
}

.yeschechbox-skin-check div{
  display: flex;
  gap: 10px;
  align-items: center;
}


@media screen and (max-width: 767px){
  .parent-div-screening{
    display: block;
    margin-top: 2rem;
    width: 100%;
  }
  .label-review{
    margin-top: 1.5rem;
    font-size: 1.5rem;
  }
  .yeschechbox-review{
    display: grid;
    grid-gap: 0.5rem;
    column-gap: auto;
    margin-top: 1.5rem;
    margin-right: 10px;
    grid-template-columns: repeat(3, 30%);
  }
}

@media screen and (max-width: 450px) {
  .parent-div-screening{
    display: block;
    margin-top: 2rem;
    width: 100%;
  }

  .label-review{
    margin-top: 1.5rem;
    font-size: 1.7rem;
  }
  .yeschechbox-review{
    display: grid;
    grid-gap: 0.5rem;
    column-gap: auto;
    margin-top: 1.5rem;
    margin-right: 10px;
    grid-template-columns: repeat(1, 100%);
  }
}

/* treatment form */
/* Discharge planning & Re-evaluation of initial symptoms,
                behaviours & Goals */
.yeschechbox2-horizontal div{
  display: flex;
  gap: 10px;
  align-items: center;
}